.img-not-found {
    display: block;
    width:100%;
    height: 100%;
    margin-top: 15%;
    margin-bottom: 10%;
    background-blend-mode: difference;
}
.not{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #1768AC;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}