/* заголовок страницы */
.menu-name{
    margin-top: 5%;
    margin-bottom: 5%;
    color: #1768AC;
    font-size: xx-large;
    font-weight: bold;
    text-align: center;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}


/* выпадающий список с категориями */
.one-category-rest{
    background-color: #1768AC;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    height: 95%;
    border: 1.5px black solid;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
}
.one-category-rest:active{
    background-color: #03256C;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    min-width: 140px;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 0;
    text-align: center;
    height: 95%;
    border: 1.5px black solid;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    padding-top: 3%;
}

.type-name{
    font-size:15px;
    font-weight: bold;
    padding: 0px;
    margin: 0;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;

}
.category-rest{
    display:flex;
    flex-direction: row;
    width: 100%;
    overflow-x:scroll ;
    height: 130px;
}

.name-category-rest{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}

.name-title-rest{
    background-color: #1768AC;
    width: 115px;
    height: 60px;
    font-size: 12px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center ;
    text-align: center;
    padding: 3px;
    border: 1.5px black solid;
    border-radius: 3px;
    margin-bottom: 5px;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.2);

}


  /* заголовок для категорий */
.div-card-rest{
    display: flex;
    justify-content: center;
}
.p-card-rest{
    font-size: 25px;
    font-weight: bold;
    color: #1768AC;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    text-align: center;
    padding: 4% 0% 3% 0%;
    margin: 0;
}





/* одна каточка ресторана */

.text-start{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    background-color: #1768AC;
    border: 2px #000000 solid;
    margin-bottom: 2%;
    position: relative;
}
.card-body-rest{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 100%;
    height: 100%;
    padding: 4% 4% 0% 3%;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
}

.card-body-count{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}
.img-card-rest{
    width: 100px; 
    height: 120px;
    margin: 0;
    object-fit: fill; 
}
.btn-primary{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center;
    width: 100%; 
    height: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color: #03256C ;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;
}
.count{
    border-radius: 50px;
    font-size: 12px;
    margin: 0;     
    color:white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:#03256C;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ;   
}
.btn-primary:active{
    border: 1px rgb(23, 23, 23) solid ;   
    text-align: center; 
    height: 25px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    background-color:#1768AC ;
    font-size: 13px;
    margin-top: 10px;
    border-radius: 5px;

}
.count:active{
    border-radius: 50px;
    font-size: 12px;
    margin: 0;     
    color:white;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    background-color:#1768AC;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px rgb(23, 23, 23) solid ;   
}


.card-title-menu{
    font-size: 15px;
    font-weight: 600;
    color: white;
    text-shadow: 0.5px 0.5px 0.5px #000000;
    margin: 0;

}
.card-text-menu{
    font-size: 12px;
    font-weight: 600;
}